.carousel-xl {
  .swiper-wrapper {
    border: 3px solid #000;
    max-width: 1296px;
    height: 560px;
    margin: 0 auto;
    position: relative;
  }
  // .swiper-button-prev::after {
  //   content: "<";
  //   font-size: 40px;
  //   color: #000;
  // }
  // .swiper-button-next::after {
  //   content: "";
  //   background-image: url('../assets/image/icons/line_end_arrow_notch.svg');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   right: 10px;
  //   width: 200px;
  //   height: 200px;
  //   color: #000;
  //   z-index: 20;
  // }
}