@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: scroll;
    overflow-x: hidden;
  } 
  body {
    background-color: #7000FF;
  };
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@import "./assets/animation";