@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: scroll;
    overflow-x: hidden;
  } 
  body {
    background-color: #7000FF;
  };
}

@import "./assets/animation";
@import "./assets/vendors/swiper.scss";